#btn-cuentas {
  color: #4d97fa;
  border: 1px solid;
  border-color: #4d97fa;
  border-radius: 50px;
  min-width: 64px;
  padding: 6px;
  background-color: transparent;
  vertical-align: middle;
  font-size: 16px;
}
h3 {
    font-weight: 600;
}
